body{
    background-color: white;
}
fieldset{
    color:black;
    font-weight: bolder;
}
legend{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    
}
input{
    
}
button{
    background-color: black;
    color: white;
    font-weight: bolder;
    position: relative;
    left: 600px;

}
botton:hover{
    color: blue;
    background-color: blueviolet;
}